html{
    position: relative;
}
body{
    margin: 0 0 65px;
}
#head-fluid{
    padding-right: 0%;
    padding-left: 1%;
    padding-top: 0%;
    padding-bottom: 0%;
    background-color: #4A709B;
    font-family: arial;
    color: #F0FFFF;
}
.row{
    max-height: 65px;
}
.container{
    margin-left: 2%;
    margin-right: 2%;
    text-align: center; 
    
}
#icon{
    width:64px;
    height:65px;
    padding-bottom: 2px;
    padding-top: 2px;
}
#form{
    float: left;
    display: table;
}
#table{
    float: right;
    display: table;
}
label{
    display: inline-block;
    text-align: left;
    font-weight: bold;
    width: 75px;
    height: 30px;
}
#header{
    padding-top: 3%;
    padding-left: 1%;
}
td{
    padding-top: 10px;
    padding-left: 8px;
    padding-right: 8px;
}
th{
    padding-left: 8px;
    padding-right: 8px;
}
#carousel{
    width: 100%;
    height: 450px;
}
button{
    background-color: #1874CD;
    color: white;
    border-width: 0px;
    width: 35%;
    height: 50px;
    border-radius: .3rem;
    
    font-size: 20px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4A709B;
    margin-right: 3%;
    
}
li {
    display: inline;
    float: right;
}
li a {
    
    display: block;
    color: #F0FFFF;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    
}
li a:hover {
    color: #F0FFFF;
    background-color: #6CA6CD;
    text-decoration: none;
}
.ativo {
    background-color: #36648B;
    font-weight: bold;
}
#col-header-7{
    padding-left: 0%;
    padding-right: 0%;
    
}
#col-header{
    padding-right: 0%;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 65px;
    line-height: 65px;
    background-color: #F8F8FF;
}
hr{
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}
#team{
    background-color: #CDC9C9;
}